*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img{
	width: 100px;
	border-radius: 30%;
	display: block;
	margin: 10px auto;
}
header{
	margin: 0;
}
h1{
	background-color: #99ccaa;
	padding: 10px;
	margin: 0px;
	text-align: center;
}
h2{
	background-color: #99ccaa;
	padding: 10px;
	margin: 0px;
	text-align: center;
}
h3{
	color: purple;
	margin: 15px auto;
	padding: 0px;
}
p{
	color: indianred;
	margin-left: 10px;
	text-align: justify;
}
li{
	color:purple;
	margin: 10px auto;
	padding: 10px;
}
i{
	color: indianred;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
