*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img{
	height: 150px;
	border-radius: 30%;
	display: block;
	margin: 10px auto;
}

header{
	margin: 0;
}

h1{
	background-color: #ee4422;
	padding: 10px;
	margin: 0px;
	text-align: center;
}

p{
	background-color: #11ccbb;
	text-align: center;
	padding: 10px 20px;
	border-radius:20px ;
	margin-top: 10px;
}